body {
  background-color: black !important;
  background: #000 url("https://image.ibb.co/mjnygo/stars.png") repeat top center;
}

.key-input {
  max-width: 175px;
}

.nav-icon {
  max-height: 40px;
}

.gimme-black {
  background-color: black;
}

.round-it {
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-sizing: border-box;
}

.dial {
  height:35px;
  width:35px;
  color: white;
  display: inline-block;
  cursor: pointer;
}

.green-color {
  background-color: #91bd09;
}

.blue-color {
  background-color: #2daebf;
}

.orange-color {
  background-color: #ff5c00;
}

.yellow-color {
  background-color: yellow;
}

.red-color {
  background-color: red;
}

.purple-color {
  background-color: #aa05aa;
}

.grey-color {
  background-color: darkslategrey;
}

.gimme-white {
  background: white !important;
}

.cryptex-clue {
  padding-top: 2px;
  padding-bottom: 2px;
}

.final-wizard {
  margin-top: -41px;
  height: 150px !important;
}

@keyframes greenPulse {
  from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}

@keyframes bluePulse {
  from { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #2daebf; -webkit-box-shadow: 0 0 18px #2daebf; }
  to { background-color: #007d9a; -webkit-box-shadow: 0 0 9px #333; }
}

@keyframes orangePulse {
  from { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #ff5c00; -webkit-box-shadow: 0 0 18px #ff5c00; }
  to { background-color: #d45500; -webkit-box-shadow: 0 0 9px #333; }
}

@keyframes yellowPulse {
  from { background-color: #ffc815; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: yellow; -webkit-box-shadow: 0 0 18px yellow; }
  to { background-color: #ffc815; -webkit-box-shadow: 0 0 9px #333; }
}

@keyframes redPulse {
  from { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: red; -webkit-box-shadow: 0 0 18px red; }
  to { background-color: #bc330d; -webkit-box-shadow: 0 0 9px #333; }
}

@keyframes purplePulse {
  from { background-color: purple; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #aa05aa; -webkit-box-shadow: 0 0 18px #aa05aa; }
  to { background-color: purple; -webkit-box-shadow: 0 0 9px #333; }
}

.blue-pulse {
  animation: bluePulse;
}

.orange-pulse {
  animation: orangePulse;
}

.yellow-pulse {
  animation: yellowPulse;
}

.green-pulse {
  animation: greenPulse;
}

.purple-pulse {
  animation: purplePulse;
}

.red-pulse {
  animation: redPulse;
}

.curtain {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.error-message {
  color: white;
}

/* Stars */
.stars {
  position: absolute;
  display: block;
  background-attachment: local;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
}

/* Curtains */
.curtain {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.curtain-wrapper {
  width: 100%;
  height: 100%;
  background: #333;
  overflow: hidden;
}

.curtain-panel {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  /* background: #005EB8; */
  color: #fff;
  float: left;
  position: relative;
  width: 50%;
  height: 200px;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
  z-index: 2;
}

.open-left {
  -webkit-transform: translateX(-100%) !important;
  transform: translateX(-100%) !important;
}

.open-right {
  -webkit-transform: translateX(100%) !important;
  transform: translateX(100%) !important;
}

.curtain-panel-left {
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.curtain-panel-right {
  -webkit-box-pack: start;
          justify-content: flex-start;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
.curtain-content {
  background: #333;
  color: #fff;
  padding: 4rem 0;
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 200px;
  height: 200px;
}

/* Shooting stars */
/* body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
} */

.night {
  position: relative;
  width: 100%;
  height: 100%;
  top: 300px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  -webkit-filter: drop-shadow(0 0 6px #699bff);
          filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before, .shooting_star::after {
  content: '';
  position: absolute;
  top: calc(10% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  -webkit-transform: translateX(50%) rotateZ(45deg);
          transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  -webkit-transform: translateX(50%) rotateZ(-45deg);
          transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -12px);
  left: calc(50% - 200px);
  -webkit-animation-delay: 8904ms;
          animation-delay: 8904ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 8904ms;
          animation-delay: 8904ms;
}
.shooting_star:nth-child(2) {
  top: calc(10% - 113px);
  left: calc(10% - 173px);
  -webkit-animation-delay: 259ms;
          animation-delay: 259ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 259ms;
          animation-delay: 259ms;
}
.shooting_star:nth-child(3) {
  top: calc(10% - 74px);
  left: calc(10% - 183px);
  -webkit-animation-delay: 4293ms;
          animation-delay: 4293ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 4293ms;
          animation-delay: 4293ms;
}
.shooting_star:nth-child(4) {
  top: calc(10% - 192px);
  left: calc(10% - 225px);
  -webkit-animation-delay: 9486ms;
          animation-delay: 9486ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 9486ms;
          animation-delay: 9486ms;
}
.shooting_star:nth-child(5) {
  top: calc(10% - 33px);
  left: calc(10% - 199px);
  -webkit-animation-delay: 4818ms;
          animation-delay: 4818ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 4818ms;
          animation-delay: 4818ms;
}
.shooting_star:nth-child(6) {
  top: calc(10% - 142px);
  left: calc(10% - 8px);
  -webkit-animation-delay: 5130ms;
          animation-delay: 5130ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 5130ms;
          animation-delay: 5130ms;
}
.shooting_star:nth-child(7) {
  top: calc(10% - -199px);
  left: calc(10% - 262px);
  -webkit-animation-delay: 9291ms;
          animation-delay: 9291ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 9291ms;
          animation-delay: 9291ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - 139px);
  left: calc(50% - 251px);
  -webkit-animation-delay: 3385ms;
          animation-delay: 3385ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 3385ms;
          animation-delay: 3385ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - -47px);
  left: calc(50% - 91px);
  -webkit-animation-delay: 1758ms;
          animation-delay: 1758ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 1758ms;
          animation-delay: 1758ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -188px);
  left: calc(50% - 229px);
  -webkit-animation-delay: 2352ms;
          animation-delay: 2352ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 2352ms;
          animation-delay: 2352ms;
}
/* .shooting_star:nth-child(11) {
  top: calc(50% - 14px);
  left: calc(50% - 18px);
  -webkit-animation-delay: 4777ms;
          animation-delay: 4777ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 4777ms;
          animation-delay: 4777ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -110px);
  left: calc(50% - 74px);
  -webkit-animation-delay: 5785ms;
          animation-delay: 5785ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 5785ms;
          animation-delay: 5785ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -186px);
  left: calc(50% - 32px);
  -webkit-animation-delay: 6437ms;
          animation-delay: 6437ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 6437ms;
          animation-delay: 6437ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - -112px);
  left: calc(50% - 82px);
  -webkit-animation-delay: 5294ms;
          animation-delay: 5294ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 5294ms;
          animation-delay: 5294ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - -24px);
  left: calc(50% - 265px);
  -webkit-animation-delay: 5548ms;
          animation-delay: 5548ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 5548ms;
          animation-delay: 5548ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -50px);
  left: calc(50% - 222px);
  -webkit-animation-delay: 6108ms;
          animation-delay: 6108ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 6108ms;
          animation-delay: 6108ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - 114px);
  left: calc(50% - 68px);
  -webkit-animation-delay: 9203ms;
          animation-delay: 9203ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 9203ms;
          animation-delay: 9203ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 53px);
  left: calc(50% - 174px);
  -webkit-animation-delay: 8560ms;
          animation-delay: 8560ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 8560ms;
          animation-delay: 8560ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - 98px);
  left: calc(50% - 209px);
  -webkit-animation-delay: 2469ms;
          animation-delay: 2469ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 2469ms;
          animation-delay: 2469ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - -187px);
  left: calc(50% - 159px);
  -webkit-animation-delay: 9759ms;
          animation-delay: 9759ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 9759ms;
          animation-delay: 9759ms;
} 
*/
@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
  }
}

/* Fireworks */
.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s; }

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0; } }
@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-moz-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-o-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@-ms-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%; }

  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%; }

  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%; }

  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%; }

  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%; } }
